<h3>Noun Quizzes</h3>
<ul>
  <li><%= link_to 'Der, die, oder das?', quizzes_der_die_das_path %></li>
  <li><%= link_to 'Pluralise', quizzes_pluralise_path %></li>
  <!-- <li><%= link_to 'Translate DE -> EN', quizzes_translate_noun_path, order: :de_to_en %></li>
  <li><%= link_to 'Translate EN -> DE', quizzes_translate_noun_path, order: :en_to_de %></li> -->
</ul>