<% provide(:title, 'Sentences') %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render "sentence_form" %>
    </section>
  </aside>
  <div class="span8">
    <div id="sentences">
      <%= render 'sentences' %>
    </div>
  </div>
</div>