<% provide(:title, 'Nouns') %>
<div class="row">
  <aside class="span4">
    <section>
      <%= render "noun_form" %>
    </section>
  </aside>
  <div class="span8">
    <div id="nouns">
      <%= render 'nouns' %>
    </div>
  </div>
</div>