<% provide(:title, 'Verbs') %>
<div class="row">
  <aside class="span6">
    <section>
      <%= render 'verb_form' %>
    </section>
  </aside>
  <div class="span6">
    <div id="verbs">
      <%= render 'verbs' %>
    </div>
  </div>
</div>