<% provide(:title, 'Verbs') %>
<div class="row">
  <aside class="span6">
    <section>
      <%= render 'verb_form' %>
    </section>
  </aside>
  <div class="span6">
    <div id="verbs">
      <%= render 'shared/search', objects: @verbs %>
      <%= render 'shared/list', objects: @verbs, partial_name: 'verb' %>
    </div>
  </div>
</div>